
{{#link-to 'story' story.id}}<img src={{story.image}} alt={{story.title}}>
<div class="small-story-author-title-section">
  <h3>{{story.title}}</h3>
  <h3>By {{story.author}}</h3>
</div>{{/link-to}}
