
<h1>Bustle</h1>
<div class="row">
  {{#each model.stories as |story|}}
    {{small-story story=story}}
  {{/each}}
</div>

<hr>
{{new-story saveStory="saveStory"}}

<hr>
{{#each model.featured-story as |story|}}
  {{small-story story=story}}
{{/each}}
